@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto+Condensed:wght@700&display=swap');
* {
    padding: auto;
    margin: auto;
}

body {
    color: white;
    background-color: #1A191D;
    font-family: Poppins;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;


}

nav {
    position: fixed;
    background-color: #1A191D;
    width: 80%;
    opacity: 78%;


}

.menu {

    display: flex;
    flex: row;
    gap: 10vh;
}

.menu li {
    list-style: none;

}

.menu a {
    text-decoration: none;
    color: white;
}

#init {
    background-repeat: no-repeat;
    background-image: url(imgs/desktop-wallpaper-portfolio-thumbnail.jpg);
    background-size: 100vw 100vh;

}

.row-1 {
    margin-top: 15vh;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.30);
    font-family: Poppins;
    font-size: 112px;
    font-style: normal;
    font-weight: 600;
    line-height: 192px;
    /* 100% */
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.row {
    display: flex;
    width: 590px;
    font-size: 22px;
    text-shadow: 4px 12px 15px rgba(0, 0, 0, 0.30);
    padding: 22px 0px 0px 0px;
    justify-content: center;
    align-items: flex-start;
}

.content {
    margin-top: 48vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.content .column {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 105px;
    /* 140% */
    letter-spacing: -1.5px;
}

.title {
    width: 231.8px;
    height: 62.38px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.2px;
    /* 120% */
    letter-spacing: -0.26px;

}

.col {
    display: flex;
    width: 301.8px;
    margin-left: -8vh;
    margin-top: -2vh;
    padding: 5px 0px 13px 70px;
    align-items: flex-start;

}

.text {
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    /* 140% */
    margin-top: 4vh;
}

.flex-left {
    border-top: 3px solid #A3A3A3;
    border-right: 1.5px solid #A3A3A3;
    border-bottom: 3px solid #A3A3A3;
    border-left: 3px solid #A3A3A3;
    display: flex;
    width: 366.3px;
    padding: 43px 31.5px 65.39px 33px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.content .column2 {
    display: flex;
    width: 1100px;
    max-width: 1100px;
    margin-top: 10vh;
    align-items: flex-start;
    flex-shrink: 0;
}

.flex-rigth {
    border-top: 3px solid #A3A3A3;
    border-right: 1.5px solid #A3A3A3;
    border-bottom: 3px solid #A3A3A3;
    border-left: 3px solid #A3A3A3;
    display: flex;
    width: 366.3px;
    padding: 43px 31.5px 65.39px 33px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.title2 {
    width: 231.8px;
    height: 62.38px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.2px;
    /* 120% */
    letter-spacing: -0.26px;

}

.col2 {
    display: flex;
    width: 301.8px;
    margin-left: -8vh;
    margin-top: -2vh;
    padding: 5px 0px 13px 70px;
    align-items: flex-start;
}

.text2 {
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    /* 140% */
    margin-top: 4vh;
}

.box-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40vh;
}

.box1 {
    margin-top: -10vh;
    gap: 7vh;
    display: flex;
    width: 258px;
    height: 200px;
    padding: 0px 20px 120px 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    margin-left: 40vh;
}

.box-content .box1 .title {
    width: 400px;
    color: #FFF;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 126px;
    /* 120% */
    letter-spacing: -2.1px;
}

.box1 .text {
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
}

.box2 {
    gap: -7vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 478px;
    height: 207px;
    flex-shrink: 0;
}

.box2 .text {
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: -40vh;
}

.box2 .groupimg {
    display: flex;
    flex-direction: row;
}

.title-p {
    display: flex;
    margin-top: 16vh;
    width: 1353px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: flex-start;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 105px;
    /* 140% */
    letter-spacing: -1.5px;
}

.cards {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.card-1 {
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
}

.text-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    background: rgba(136, 136, 136, 0.05);
    width: 250px;
    padding: 47.51px 47.52px 48.91px 47.52px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.cards-tec {
    margin-top: 10vh;
    display: grid;
    row-gap: 2vh;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

.image-tec {
    display: flex;
    background-color: white;
    width: 248px;
}

.text-card-tec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    background: rgba(136, 136, 136, 0.05);
    width: 150px;
    height: 2px;
    padding: 47.51px 47.52px 48.91px 47.52px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: #1A191D;
}

footer #formasDeContato {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    width: calc(100% - 18.6vw);
}

footer #formasDeContato .links {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer #formasDeContato .links svg {
    height: 24px;
    width: 24px;
    color: white;
}

footer #formasDeContato .links p {
    color: white;
    font-size: 12px;
}

/*Animações*/



[data-anime]{
    opacity: 0;
    transition: .7s;
}
[data-anime="left"]{
    transform: translateX(-50px);
}
[data-anime="right"]{
    transform: translateX(50px);
}
[data-anime="bottom"]{
    transform: translateY(50px);
}

[data-anime].animate{
    opacity: 1;
    transform: translate(0);
}

